NEXT_PUBLIC_SUPABASE_URL=https://uywpiafrewyidkbamdit.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InV5d3BpYWZyZXd5aWRrYmFtZGl0Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzY1MjY4MzEsImV4cCI6MjA5MjEwMjgzMX0.KGF_edEcGSlmQl6Rh1OF9YnQsmR8wWC05pttAF6ocLM
